footer {
	clear: both;
	background-image: url(Images/contemporary_china_white.png);
	border-top: 3px solid $coral;
	z-index: 150;
	position: relative;
	
	p {
		margin: 40px 0 10px 0;
		color: black;
		text-shadow: .5px .5px 0 $coral;
	}
}