ul.menu {
	margin: 0;
	padding: 0;

	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #333;
			padding: 10px;
			background: #333;
			color: white;
			font-family: "Quicksand", sans-serif;

		}
	}
}

.top-menu {
	background-image: url(images/stripes.jpg);
	height: 80px;
	border-bottom: 3px solid $coral;
	color: white;
	position: relative;
	z-index: 150;
	margin-bottom: -80px;

}


ul.menu li a {
	background: none;
	line-height: 80px;
	// text-shadow: 1px 1px 0 $coral;
	margin: 0 30px;
	text-transform: lowercase;
	font-size: 1.2em;
	transition: 0.5s all ease-in-out;

}

ul.menu li a:hover {
	border-bottom: 3px solid $coral;
}

i.fa-bars {
	display:none;
}


.about ul.menu {
	text-align: left;
	margin-bottom: 25px;
}
.about ul.menu li a {
	margin: 0 25px 0 0;
	transition: .5s all ease-in-out;
}


.about ul.menu li a:hover {
	color: $coral;
}


.drop-menu ul.menu {
	display: none;
}
