/* CUSTOM FONTS */

@font-face {
	font-family: thunder;
    src: url(Fonts/thunder.ttf);
}
body {
	font-size: 15px;
	color: black;
	font-family: "Raleway", san-serif;
}
a {
	text-decoration: none;
}
/* headings */
h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 30px 0 15px 0;
	font-family: "Cabin Sketch", "Raleway", sans-serif;
	color: $coral;
	font-weight: 400;
}
h1 {
	color: $coral;
	font-family: "Cabin Sketch", "Raleway", sans-serif;
	/*position: relative;
	top: 500px;*/
	font-size: 65px;
	text-shadow: .5px .5px 0 black, 1px 1px 0 black, 2px 2px 0 black, 2.5px 2.5px 0 black;
	letter-spacing: 5px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 35px;
}

.about h3,
.portfolio h3 {
	text-shadow: 1.5px 1.5px 0 black;
}

.header h2 {
	/*position: relative;
	top: 460px;*/
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: black;
	margin: 0;
	padding: 0;

}
/* paragraphs */

p {
	line-height: 1.5;
	margin: 0;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}